nav ul li {
     border: 1px solid rgb(15, 15, 15);
     display: block;
     display: inline-block;
     padding: 0.5em;
     margin-left: auto;
     margin-right: auto;
     background-color: black;
     text-align: center;
     display: inline-block;
    list-style-type: none;
}
/* above, nav colors and configuration */

nav ul {
    display: inline-block;
    list-style-type: none;
}
/* link underline gone */

nav ul a {
    color: rgb(255, 255, 255);
    text-emphasis-color: red;
    text-decoration: none; 
    font-size: smaller
}
/* above, gets rid of underline and blue link color */

nav ul li:hover {
background-color: rgb(154, 135, 110);
border: 1px solid rgb(154, 135, 110);
}
/* above, nav hover color */

div.navbar {
  text-align: center;
}
/*centered nav bar*/

#aboutp {
  border: thin black;
  border-style: solid;
  margin: auto;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
}
/* above, about section customization */

#hobbies {
  border-left: 0.3em black;
  border-top-style: hidden;
  border-right-style: hidden;
  border-bottom-style: hidden;
  border-left-style: solid;
  margin: auto;
}
/* above, hobbies section customization */

#goals {
  border-left: 0.3em black;
  border-top-style: hidden;
  border-right-style: hidden;
  border-bottom-style: hidden;
  border-left-style: solid;
}

#projects {
  border-left: 0.3em black;
  border-top-style: hidden;
  border-right-style: hidden;
  border-bottom-style: hidden;
  border-left-style: solid;
}

table, th, td {
    border: thin solid;
    border-bottom: #ff0000;
    border-color: white;
    text-align: center;
    color: white;
    margin-right: auto;
    margin-left: auto;
  }
td {
    padding: 2%;
}
tr {
    background-color: black;
}
  table {
    width: 75%;
    
  }
/* above, table color and borders */

body {
    background-color: rgb(255, 245, 226);
}
/* above, background colour */

h2 {
text-align: center;
}

h2,h3,h4,ul,li,td,tr,figcaption {
    font-family: "Playfair Display", serif
}
/*above, paragraph, list font */

h3,h4,p {
  margin-left: 5%;
}
h3 {
  margin-bottom: 0.5em;
}
p,td,tr {
    font-family:"Lato", sans-serif;
}

h1,h2,h3,h4 {
  letter-spacing: .1em;
}
/*above, paragraph, table font */

.column {
  float: left;
  width: 25%;
  padding: 0px;
  margin: 3em;
  margin-bottom: 0;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
/* image alignment */

figure {
  border: 1px #cccccc hidden;
  padding: 4px;
  margin: 0;
  margin-bottom: 3em;
}

figcaption {
  background-color: black;
  color: white;
  font-style: italic;
  padding: 2px;
  text-align: center;
  font-size: small;
  margin-left: 4.5em;
  margin-right: 10.7em;
}

#contact {
  border-left: 0.3em black;
  border-top-style: hidden;
  border-right-style: hidden;
  border-bottom-style: hidden;
  border-left-style: solid;
  margin: auto;
  /* above, about section customization */
}

  html {
    scroll-behavior: smooth;
  }
  /*smooth scrolling for nav */

  ::selection {
    background-color: rgb(188, 172, 148);
    color: white
  }
  /* selection color changed */