nav ul li {
     border: 1px solid rgb(15, 15, 15);
     display: block;
     display: inline-block;
     padding: 0.5em;
     margin: 0px;
     float: none;
     background-color: black;
     text-align: center;
     display: inline-block;
    list-style-type: none;
}
/* above, nav colors and configuration */

nav ul {
    display: inline-block;
    list-style-type: none;
    margin: ;
}
/* link underline gone */

nav ul a {
    color: rgb(255, 255, 255);
    text-emphasis-color: red;
    text-decoration: none; 
    font-size: smaller
}
/* above, gets rid of underline and blue link color */

nav ul li:hover {
background-color: rgb(154, 135, 110);
border: 1px solid rgb(154, 135, 110);
}
/* above, nav hover color */

#aboutp {
  border-style: solid;
  margin: auto;
}
/* above, about section customization */

table, th, td {
    border: 1px solid;
    border-bottom: #ff0000;
    border-color: white;
    text-align: center;
    float: ;
    color: white;
  }
td {
    padding: 2%;
}
tr {
    background-color: black;
}
  table {
    width: 75%;
    
  }
/* above, table color and borders */

body {
    background-color: rgb(255, 245, 226);
}
/* above, background colour */

h2,h3,h4,ul,li,td,tr,figcaption {
    font-family: "Playfair Display", serif
}
/*above, paragraph, list font */

p,td,tr {
    font-family:"Lato", sans-serif;
}
/*above, paragraph, table font */
/*
.container {
    position: relative;
    width: 50%;
    float: left;

  }
  image {
    display: inline;
    float: left;
    width: 50%;
  }
  .column {
    float: left;
    width: 50%;
    padding: 5px;
  }

  .image {
    width: 50%;
    height: auto;
    float: left;
    margin-bottom: 2em;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 50%;
    opacity: 0;
    transition: .5s ease;
    background-color: #000000;
    
  }
  
  .container:hover .overlay {
    opacity: 0.4;
  }
  
  .text {
    color: white;
    font-size: relative;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  /* added hover affect for image */

#contact {
  border-left: 3px solid red;
  background-color: rgb(255, 255, 255);
  margin-left: auto; 
  margin-right: 0;
  float: right;
  margin-right: 15em;
  padding-left: 2em;
  padding-right: 2em;
}

  html {
    scroll-behavior: smooth;
  }
  /*smooth scrolling for nav */

  ::selection {
    background-color: rgb(188, 172, 148);
  }
  /* selection color changed */